{% extends "polls/base.html" %}

{% block title %}Create a New Question{% endblock %}

{% block main %}
<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Create a New Question</h3>
            </div>
            <form method="POST">
                {% csrf_token %}
                <div class="panel-body">
                    <div class="form-group">
                        <label for="question_text">Question</label>
                        {{ question_form.as_p }}
                    </div>

                    <div class="form-group">
                        <label for="choices">Choices</label>
                        <div id="choices">
                            {% for form in choice_forms %}
                                <div class="form-group">
                                    {{ form.as_p }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="row">
                        <hr />
                        <div class="col-lg-4">
                            <button type="submit" class="btn btn-info">Create Question</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
